
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

*{
    letter-spacing: .03rem;
    color:var(--black-market);
    /* border: .1rem solid red; */
    
}
:root{
    --white:#fff;
    --black-market:#231e41;
    --light-black-market:#6f6f87;
    --saffaron:#f5c332;
    --dark-gary:#f2f3f5;
    --light-gary:#f9fafc;
}

  img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: .5s ease-in-out;

}

.mb-md{
    margin-bottom: 1.8rem;
}
.pt-60{
    padding-top: 3.75rem;
}
.mb-lg{
    margin-bottom: 3.75rem;
}

ul{
    margin: 0;
    padding: 0;
}
.mb-sm{
    margin-bottom: .93rem;
}
.pb-60{
    padding-bottom: 3.75rem;

}
.pb-90{
    padding-bottom: 5.6rem;
}
.p-block-60{
    padding-block: 1.75rem;
}


 /* navbar styling */

 .navbar{
    background-color: rgba(255, 255, 255, 255);
    height: 7.5rem;
    border-color:var(--dark-gary);
    border-width: .063rem 0 .063rem 0;
    border-style: soild;
     backdrop-filter: blur(8px);
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     z-index: 99;
   
 }

 .navbar-brand{
 font-size: 1.4rem;
 font-weight: 800;
 color: var(--black-market);


 }
 .fa-bowl-food, .nav-link:hover{
  color:var(--saffaron) !important
 }

 .nav-item{
  padding-inline: 1.5rem;
 }

 .nav-link{
     color: var(--black-market);
     font-size: .9rem;
 }

 .fa-bag-shopping{
    font-size: 1.5rem;
    background-color: var(--dark-gary) ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
   }

   .nav-icon{
    display: flex;
    align-items: center;
    justify-content: center;
   }


   @media screen and (max-width :990px) {
     .navbar-collapse{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, .92);
    padding-top: 1rem;
    height: calc(100vh - 7.5rem);
    margin-top: 5.6rem;
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transform: translateY(60px);
    transition:.3s ease-in-out;
    backdrop-filter: blur(8px);

     }
     .navbar-nav{
        align-items: center;
        gap: 1rem;
     }
     .collapse{
        opacity: 1;
        pointer-events: all;
        transform: translateY(0px);
     }
   }

   /* section style */
   .hero{
    margin-top: 7.5rem;
    position: relative;
    }

  .hero::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 90vh;
    background: var(--light-gary);
    z-index: -1;
    clip-path: polygon(100% 0,1% 100%,100% 100%);  
}

.hero-content{
   padding-top: 3.3rem;
  
}
.sub-title{
    display: inline-block;
    padding: .12rem .31rem;
    font-size: .95rem;
    font-weight: 700;
    background: var(--dark-gary);
}

.heading{
    font-size: 4.5rem;
    letter-spacing: -.18rem;
    font-weight: 800;
    line-height: 100%;
}
.para{
font-size: 1rem;
color: var(--light-black-market);

}

.btn{
    padding:.8rem 1.5rem;
    background-color:var(--saffaron);
    border-radius: 4px;

}

.btn:hover{
    background-color: #f7d264
}


.hero-image{
    height: calc(100vh - 9.5rem);
    overflow: hidden;
 
}

.hero-image:hover{
 transform: translateY(-10px);
 transition: 0.5s ease-in-out;
}



::-webkit-scrollbar{
    width: 0.5rem;
  
}
::-webkit-scrollbar-thumb{
    background: var(--saffaron);
    border-radius: 100vw;
}
::-webkit-scrollbar-track{
    background: var(--dark-gary);
  
}


.interior-fame{
    padding-bottom: 120%;
    width: 100%;
    background: var(--dark-gary);
    margin-bottom:5.6rem;
    position: relative;
     overflow: hidden;

}
.sub-interior{
    position: absolute;
    z-index: 2;
    width: 80%;
    height:90% ;
    bottom: 10%;
    left: 0;
    overflow: hidden;

  
}

.sub-interior::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: 1;
}

 
.sub-interior img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    position: relative;
    z-index: 0;

  
}

.sub-interior:hover img{
     transform: scale(1.1);
}




 h2{
     font-size: 2.5rem;
     font-weight:800 ;
     letter-spacing:-.12rem ;
     line-height:110% ;

 }
 .feature-item{
    display: flex;
  
 }

 .number{
    min-width: 3.87rem;
    font-size:2.63rem;
    line-height: 2.35rem;
    color: var(--saffaron);
     font-family: "Monoton", sans-serif;
     margin-right: 1.87rem;

 }

 h3{
    font-size: 1.37rem;
    letter-spacing: -.06rem;
    font-weight: 800;
    line-height: 120%;

 }
 .exp{

   position: absolute;
   z-index: 3;
   background: var(--white);
   bottom: 0;
   right: 10%;
   padding: 1.87rem;
   box-shadow: 6px 6px -6px rgba(0, 0, 0, .1) ;
   text-align: center;
   width: 40%;

 }
 .exp-content{
    padding: .938rem;
    border:.18rem dotted var(--dark-gary)

 }
.exp-num{
     font-family: "Monoton", sans-serif;
     font-size: 4.5rem;
     line-height: 100%;
     letter-spacing: -.18rem;
     font-weight: 500;
     margin-bottom: .62rem;
}
.exp-text{
    font-size: 1.37rem;
    letter-spacing: -.06rem;
    font-weight: 600;
    line-height: 120%;
}

 h2 span{
    background-color: var(--light-gary);
    letter-spacing: inherit;

}

.card-body{
    display: flex;
    align-items: center;
    background:var(--light-gary);
    padding:1.87rem;
    position: relative;
    isolation: isolate;
    

}

.card-icon::before{
    content: '';
    position: absolute;
    background: var(--saffaron);
    width: 1.87rem;
    height: 1.87rem;
    border-radius:50%;
    left: 45px;
    top: 40px;
    z-index: -1;
   transition: .5s ease-in-out;
}

a{
    text-decoration: none;
    color: var(--black-market);
}

.category{
    display: block;
    box-shadow: 0 0 0 2px var(--white);
}

.category:hover{
    box-shadow: 0 0 0 2px var(--saffaron);
    transition: .5s ease-in-out;
}


.category:hover .card-icon img {
   transform: translateY(-10px);
   transition: transform 0.5s ease-in-out;
}



.card-icon{
    width:4.37rem;
    height: 4.37rem;

}
.card-icon img{
     width:4.37rem;
}
.card-des{
    padding-left: 1.87rem;
}

.card-para{
    font-size: .93rem;
    color: var(--light-black-market);
    margin: 0;

}

.card-top{
    margin-bottom: .93rem;
    background: var(--dark-gary) ;
    padding-left: .93rem;
    display: flex;
    justify-content: space-between;
}

.title{
    font-size:1rem;
    font-weight: 600;
    margin:0;
    padding: 10px;

}

sub{
    font-size: .75rem;
    font-weight: 600;

}

.price{
width: 3.75rem;
height: 3.75rem;
display: flex;
justify-content: center;
align-items: center;
background: var(--saffaron);
font-size: 1.5rem;
font-weight: 600;

}

.star{
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu-para{
margin-bottom: .93rem;
font-size:1.1rem;
color:var(--light-black-market);
padding: 10px 30px;


}

.fa-star{
    color: var(--saffaron);
    font-size:.87rem;
}

.menu-img{
    overflow: hidden;
    border-radius: 2px;
}

.menu-img:hover img{
     transform: scale(1.1);


}
.phone-app{
    position: relative;
    padding-bottom: 90%;
}

.mobile-app{
 position: absolute;
 width: 113%;
 height: 105%;
 right: -10%;
 top: 5%;


}
.call-to-action{
    position: relative;
}
.call-to-action::before{
    content: "";
    position: absolute;
    top: 0;
    width: 80%;
    height: 100%;
    background: var(--light-gary);
    z-index: -1;
    border-left:1,85rem solid var(--light-gary)
}

.para-1{
    margin-left: 3.5rem;
}

.item{
    margin-left: 3.5rem;
}

.btn{
    margin-left: 3.5rem;

}
.footer-frame{
    padding-block: 1.8rem;

}
.social{
 
  justify-content: space-evenly;
    display: flex;
    align-items: center;
  
 
}
.social i{
    font-size: .9rem;
}

.copy{
    margin-top: .35rem;
  font-size: .75rem;
    color: var(--light-black-market);

}

.footer{
    background: var(--dark-gary);
}